.navbar .navbar-brand img {
    height: 3rem;
}

.navbar {
    background-color: rgb(231, 166, 120);
    padding-left: 1rem;
    padding-right: 1rem;
}

#search-bar {
    align-content: center;
}

body {
    background-color: rgb(255, 235, 205);
}

.jumbotron {

    min-height: 40rem;
    background-image: url("./assets/jumbotron.jpg");
    background-size: cover;
}

button {
    background-color: teal !important;
    color: white;
}

#card-heading {

    margin-top: 5rem;
    margin-bottom: 3rem;
}